.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8dd0ff;
}

.lContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.lemail, .lpassword{
  height: 30px;
  width: 200px;
  padding: 10px;
  border-radius: 5px;

}

.lpassword:focus ,.lemail:focus{
  outline: 2px solid var(--btn-color);
}

.lButton {
  border: none;
  padding: 10px 20px;
  background-color: #0071c2;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.lButton:disabled{
  background-color: #0071c28c;
  cursor: not-allowed;
}